.top{
  max-width: 1920px;
  height: 700px;
  background: url("../img/bg-top.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.top__text{
  max-width: 560px;
  height: 250px;
  color: white;
  bottom: 59px;
  padding-top: 470px;
  .top__text_top{
    font-family: 'Conv_PTSans-Regular';
    font-size: 14px;
    text-align: left;
  }
  h2{
    font-family: 'Conv_PTSerif-Bold';
    font-size: 40px;
    line-height: 50px;
  }
  .top__text_botton{
    font-family: 'Conv_PTSerif-Regular';
    font-size: 14px;
    text-align: left;
    span{
      margin-right: 15px;
    }
  }
}